Repository ita-social-projects/GreenCityTests, pull requests merged in 2021-01, with the labels that each got.

#448 Fixed GC-819 "Logged user can delete his comment"
  src/main/java/com/softserve/edu/greencity/ui/pages/common/CommentComponent.java
  src/main/java/com/softserve/edu/greencity/ui/pages/common/CommentPopUpComponent.java
  src/test/java/com/softserve/edu/greencity/ui/tests/comments/CommentCreation.java
Labels: Comments

#449 Implemented GC-862: Verified that unlogged user can't edit his own co…
  src/test/java/com/softserve/edu/greencity/ui/tests/comments/EcoNewsCommentTests.java
Labels: Comments

#470 #824 Implemented GC-824 "Verify that logged user can't delete not his comment";
  src/main/java/com/softserve/edu/greencity/data/users/UserRepository.java
  src/main/java/com/softserve/edu/greencity/ui/api/google/sheets/GoogleSheet.java
  src/main/java/com/softserve/edu/greencity/ui/api/google/sheets/ValueProvider.java
  src/main/java/com/softserve/edu/greencity/ui/tools/CredentialProperties.java
  src/test/java/com/softserve/edu/greencity/ui/tests/comments/CommentCreation.java
  src/test/resources/sheetsApi.json
Labels: Comments

#471 # updated google sheets
  src/main/java/com/softserve/edu/greencity/data/users/UserRepository.java
  src/main/java/com/softserve/edu/greencity/ui/api/google/sheets/GoogleSheet.java
  src/main/java/com/softserve/edu/greencity/ui/api/google/sheets/ValueProvider.java
  src/main/java/com/softserve/edu/greencity/ui/tools/CredentialProperties.java
  src/test/java/com/softserve/edu/greencity/ui/tests/comments/CommentCreation.java
  src/test/resources/sheetsApi.json
Labels: enhancement

#472 #Replaced current tests that were responsible for comment reply from …
  src/test/java/com/softserve/edu/greencity/ui/tests/comments/CommentCreation.java
  src/test/java/com/softserve/edu/greencity/ui/tests/comments/EcoNewsCommentReplyTests.java
Labels: Comments, Comments Reply

#464 Implement GC-866 test: Verify that ‘Comment’ button is disable, when ‘Add a comment’ field is empty on the ‘News’ page.
  src/main/java/com/softserve/edu/greencity/ui/locators/comments/CommentLocator.java
  src/main/java/com/softserve/edu/greencity/ui/pages/common/CommentComponent.java
  src/test/java/com/softserve/edu/greencity/ui/tests/comments/EcoNewsCommentReplyTests.java
Labels: Comments Reply

#482 Implement GC-874: The system saves the changes after click ‘Save’ button on the ‘News’ page
  src/main/java/com/softserve/edu/greencity/ui/locators/ItemComponentLocators.java
  src/main/java/com/softserve/edu/greencity/ui/pages/common/CommentComponent.java
  src/main/java/com/softserve/edu/greencity/ui/pages/common/ReplyComponent.java
  src/test/java/com/softserve/edu/greencity/ui/tests/comments/EcoNewsCommentReplyTests.java
Labels: Comments Reply

#481 Implemented GC-780
  src/test/java/com/softserve/edu/greencity/ui/tests/comments/EcoNewsCommentReplyTests.java
Labels: Comments Reply

#485 Implemented GC-1132
  src/main/java/com/softserve/edu/greencity/ui/locators/comments/CommentLocator.java
  src/main/java/com/softserve/edu/greencity/ui/locators/comments/ReplyLocator.java
  src/main/java/com/softserve/edu/greencity/ui/pages/common/ReplyComponent.java
  src/test/java/com/softserve/edu/greencity/ui/tests/comments/EcoNewsCommentReplyTests.java
Labels: Comments Reply

#492 implemented GC-1154 test
  src/test/java/com/softserve/edu/greencity/api/tests/comments/CommentsApiTestRunner.java
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#493 implemented GC-1155 test
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#509 Implemented GC-1193
  src/main/java/com/softserve/edu/greencity/api/clients/CommentClient.java
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#516 Implemented GC-1194
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#515 Implemented GC-1175: Verify that unlogged user cannot reply to other replies on News Single Page
  src/main/java/com/softserve/edu/greencity/api/clients/CommentClient.java
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#519 Implemented GC-1159: Unregister user can`t delete any comment on the 'News' page.
  src/main/java/com/softserve/edu/greencity/api/clients/CommentClient.java
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#495 implemented GC-1163 test
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#520 Implemented GC-1195
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#496 implemented GC-1169 test
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#497 implemented GC-1171 test
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#499 implemented GC-1172 test
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#501 implemented GC-1174
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#513 implemented GC-1188
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#517 implemented GC-1189
  src/main/java/com/softserve/edu/greencity/data/econews/NewsDataStrings.java
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
  src/test/resources/texts/testData8001characters.txt
Labels: Comments_API

#523 Implemented GC-1173: Verify that logged user cannot reply to other replies on News Single Page
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#527 Implemented GC-1181: Unlogged user cannot like/dislike the comment/reply on 'News' Page
  src/main/java/com/softserve/edu/greencity/api/clients/CommentClient.java
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#532 implemented GC-1185
  src/main/java/com/softserve/edu/greencity/api/clients/CommentClient.java
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#531 Implement GC-1180: Verify that logged user can like/dislike the comment/reply on News Single Page
  src/main/java/com/softserve/edu/greencity/api/clients/CommentClient.java
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#525 Implement GC-1200: Verify that logged user can edit its own replay on the ‘Eco news’ page.
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#533 Implement GC-1201: Verify that unlogged user can`t edit replay on the ‘Eco news’ page.
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#536 implemented GC-1160 test
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#535 Implement GC-1202: Verify that logged user can`t edit not his own replay on the ‘Eco news’ page.
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#545 implement GC-873
  src/test/java/com/softserve/edu/greencity/ui/tests/comments/EcoNewsCommentTests.java
Labels: Comments Reply

#546 implement GC-828
  src/test/java/com/softserve/edu/greencity/ui/tests/comments/EcoNewsCommentReplyTests.java
Labels: Comments Reply

#521 Implement GC-1158: Verify that logged user can`t delete not his own comment on the 'News' page
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API

#547 Implemented GC-823
  src/test/java/com/softserve/edu/greencity/ui/tests/comments/EcoNewsCommentReplyTests.java
Labels: Comments Reply

#524 Implemented GC-1196
  src/test/java/com/softserve/edu/greencity/api/tests/comments/EcoNewsCommentsApiTests.java
Labels: Comments_API
